body {
    font-family: Roboto, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    color:  #ebd9c0;
    background-color: rgb(34, 20, 7);
    font-size: 18px;
    font-weight: 700;
    display: flex;
    padding: 8px 100px;
    justify-content: space-between;
}

.links {
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    color: #ebd9c0;
    text-decoration: none;
}

.title-container {
    color: #ebd9c0;
    background-color: rgb(34, 20, 7);
    padding: 40px 450px;
    display: flex;
    flex: 1 1 auto;
    gap: 60px;
    align-items: center;
    justify-content: space-evenly;
}

.title-text p {
    color: #d8b278;
}

.button {
    color: rgb(34, 20, 7);
    background-color: #ebd9c0;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    display: inline-block;
}

img {
    max-width: 550px;
    display: flex;
    flex: 1 1 auto;
    border: 1px solid #d8b278;
}