body {
    font-family: milkshake, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    color:  #ebd9c0;
    background-color: rgb(97, 69, 42);
    font-size: 24px;
    font-weight: 700;
    display: flex;
    padding: 8px 100px;
    justify-content: space-between;
}

.links {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    color: #ebd9c0;
    text-decoration: none;
}

.title-container {
    color: #ebd9c0;
    background-color: rgb(34, 20, 7);
    font-size: 28px;
    padding: 40px 450px;
    display: flex;
    flex: 1 1 auto;
    gap: 60px;
    align-items: center;
    justify-content: space-evenly;
}

.title-text h1 {
    margin-top: -14px;
}

.title-text p {
    color: #d8b278;
    font-size: 20px;
    margin-top: -20px;
}

.button {
    color: rgb(34, 20, 7);
    background-color: #ebd9c0;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 14px;
    display: inline-block;
}

.image img {
    max-width: 550px;
    display: flex;
    flex: 1 1 auto;
    border: 1px solid #d8b278;
}

.menu-image img {
    max-width: 200px;
    border: 2px solid rgb(34, 20, 7);

}