body {
    font-family: milkshake, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    color:  #ebd9c0;
    background-color: rgb(97, 69, 42);
    font-size: 32px;
    font-weight: 700;
    display: flex;
    padding: 8px 100px;
    justify-content: space-between;
}

.links {
    font-size: 26px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    color: #ebd9c0;
    text-decoration: none;
}

.title-container {
    color: #ebd9c0;
    background-color: rgb(34, 20, 7);
    font-size: 32px;
    padding: 50px 410px;
    display: flex;
    flex: 1 1 auto;
    gap: 60px;
    align-items: center;
    justify-content: space-evenly;
}

.title-text h1 {
    margin-top: -14px;
}

.title-text p {
    color: #d8b278;
    font-size: 26px;
    margin-top: -20px;
}

.button {
    color: rgb(34, 20, 7);
    background-color: #ebd9c0;
    font-size: 26px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 14px;
    display: inline-block;
    transition: 1s ease;
}

.button:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.image img {
    max-width: 550px;
    display: flex;
    flex: 1 1 auto;
    border: 1px solid #d8b278;
    border-radius: 22px;
}

.info-section {
    padding-bottom: 40px;
    color: rgb(34, 20, 7);
    background-color: #ebd9c0;
}

.info-section-title {
    font-size: 30px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.info-section-body {
    display: flex;
    justify-content: space-evenly;
    padding: 0 300px;
    gap: 50px;
}

.menu-image img {
    width: 250px;
    height: 250px;
    border: 5px solid rgb(34, 20, 7);
    border-radius: 22px;
    object-fit: cover;
    transition: 1s ease;
}

.menu-image img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}

.card-3 img {
    object-position: 73% 0;
}

.card-4 img {
    object-position: 50% 70%;
}

.card-content {
    display: flex;
    max-width: 260px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    padding: 12px 0;
}

.inspirational-quote {
    color: rgb(34, 20, 7);
    background-color: #d8b278;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    padding: 60px;
    justify-content: center;
}    
